/* @override http://tmp.einserver.de/swtndx/assets/default.css */

/* Import Twitter Bootstrap */
@import url(http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css);

body{
	padding: 10px;
}

body > table,
body > section > table{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

body > table th,
body > section > table th,
body > table td,
body > section > table td{
	padding:5px 5px 4px;
	vertical-align: middle;
}

body > table a,
body > section > table a{
	display: block;
	margin: -5px -5px -4px;
	padding: 5px 5px 4px;
	vertical-align: middle;
	line-height: 1.0;
}

body > table img,
body > section > table img{
	vertical-align: middle;
	width: 24px;
	height: 24px;
}

body > table th:first-child,
body > section > table th:first-child,
body > table td:first-child,
body > section > table td:first-child{
	width: 1%;
}

body > table th:nth-child(3),
body > section > table th:nth-child(3),
body > table td:nth-child(3),
body > section > table td:nth-child(3){
	width: 10em;
}

body > table th:nth-child(4),
body > section > table th:nth-child(4),
body > table td:nth-child(4),
body > section > table td:nth-child(4){
	width: 1%;
}


body > table th img,
body > section > table th img,
body > table th:nth-child(5),
body > section > table th:nth-child(5),
body > table td:nth-child(5),
body > section > table td:nth-child(5){
	display: none;
}

footer{
	margin-top: 3em;
	font-size: 11px;
	padding: 0;
	border: 0;
	text-align: center;
}

footer a{
	color: #ccc;
}