/* Import Twitter Bootstrap - Feel free to put this on your server. */
@import url(http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css);

body{
	padding: 24px;
}

ol strong{
	font-weight: normal;
}

body > table,
body > section > table{
	border:1px solid #ddd;
	border-collapse:separate;
	*border-collapse:collapse;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin: 0;
}

body > table th,
body > section > table th,
body > table td,
body > section > table td{
	vertical-align: middle;
}

body > table tbody th,
body > section > table tbody th{
	border-top: 0;
}

body > table a,
body > section > table a{
	display: block;
	margin: -10px -10px -9px;
	padding: 10px 10px 9px;
	vertical-align: middle;
}

body > table img,
body > section > table img{
	display: block;
	vertical-align: middle;
	margin: -5px 0;
}

body > table th+th,
body > section > table th+th,
body > table td+td,
body > section > table td+td{
	border-left:1px solid #ddd;
}

body > table th:nth-child(3),
body > section > table th:nth-child(3),
body > table td:nth-child(3),
body > section > table td:nth-child(3){
	width: 10em;
}

body > table th:first-child,
body > section > table th:first-child,
body > table td:first-child,
body > section > table td:first-child,
body > table th:nth-child(4),
body > section > table th:nth-child(4),
body > table td:nth-child(4),
body > section > table td:nth-child(4){
	width: 1%;
}


body > table th img,
body > section > table th img,
body > table th:nth-child(5),
body > section > table th:nth-child(5),
body > table td:nth-child(5),
body > section > table td:nth-child(5){
	display: none;
}

footer{
	text-align: right;
}

footer a{
	color: #ccc;
}