/* UberIndex by Florian Picher - http://einserver.de */
*{margin:0;padding:0;border:0;font-size:inherit;font-weight:inherit;}
html, body{background:#fff;color:#666;font:12px/20px 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;}
body{padding:30px;}
img{display:block;vertical-align:middle;opacity:1;-webkit-transition:opacity 0.15s;-moz-transition:opacity 0.15s;transition:opacity 0.15s;}
:hover>*>*>img{opacity:0.7;}
a{text-decoration:none;color:inherit;}
a:hover{color:#000;-webkit-transition:color 0.15s;-moz-transition:color 0.15s;transition:color 0.15s;}
ol{overflow:hidden;margin:0 0 30px 0;padding:0 0 0 45px;color:#7f7f7f;font-weight:bold;text-shadow:0 1px 0 #fff;}
li{display:block;float:left;margin:0 0 0 .2em;list-style:none;}
li span{color:#b3b3b3;font-weight:normal;}
li.root{margin:0;}
strong{color:#333;}
table{table-layout:auto;border-spacing:0;border-collapse:collapse;text-align:left;border-top:1px dotted #eee;border-bottom:1px dotted #eee;}
td, th{vertical-align:middle;padding:3px 10px 3px 10px;}
tr{border-top:1px dotted #eee;}
th,div.footer,td:nth-child(3),td:nth-child(4),address{color:#ccc;font-size:10px;text-transform:uppercase;}
th:nth-child(4),td:nth-child(4){text-align:right;}
td a{display:block;}
td:nth-child(2) a{padding:0 50px 0 0;}
.footer,address{display:block;margin:30px 0 0 45px;font-style:normal;color:#ccc;}